@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
}

body{
    color:lightblue;
    font-family: Space, sans-serif;
    background: #1020b3;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    text-align: center;
    margin-top: 250px;
}
